.project>div {
    padding: 20px 9.5%;
}
.summary {
    background-color: #c4d6e2;
    display: flex;
}
.summary>div {
    margin: 0 20px;
    width: 27%;
}
.content {
    background-color: #fff;
}
.content>img {
    width:50%;
}